<script>
  <%if params[:source].to_s == "opd" %>
    var tt_cancel_destination = "/patients/opdcard/" + "<%=@patient_id%>"
  <%else%>
    var tt_cancel_destination = "/patients/mastercard?patient_id=" + "<%=@patient_id%>"
  <%end%>
</script>

<form action = "mastercard_modify" method = "post">
  <% if @edit_page == "arv_number" %>
    <%= render(:partial => "/patients/arv_number" ) %>
  <% end %>

  <% if @edit_page == "name" %>
    <%= render(:partial => "/patients/mastercard_modify_name" ) %>
  <% end %>

  <% if @edit_page == "age" %>
    <%= render(:partial => "/patients/mastercard_modify_age" ) %>
  <% end %>

  <% if @edit_page == "sex" %>
    <%= render(:partial => "/patients/mastercard_modify_sex" ) %>
  <% end %>

  <% if @edit_page == "location" %>
    <%= render(:partial => "/patients/mastercard_modify_location" ) %>
  <% end %>

  <% if @edit_page == "occupation" %>
    <%= render(:partial => "/patients/mastercard_modify_occupation" ) %>
  <% end %>

  <% if @edit_page == "guardian" %>
    <%= render(:partial => "/patients/mastercard_modify_guardian" ) %>
  <% end %>

  <% if @edit_page == "address" %>
    <%= render(:partial => "/patients/mastercard_modify_address" ) %>
  <% end %>

  <% if @edit_page == "ta" %>
    <%= render(:partial => "/patients/mastercard_modify_ta" ) %>
  <% end %>

  <%= hidden_field_tag "patient_id", @patient_id %>
  <%= hidden_field_tag "field", @edit_page %>
  <%if params[:source].to_s == "opd" %>
    <%= hidden_field_tag "source", "opd" %>
  <%end%>
</form>
